<div class="menu">
  <button
    appearance="flat"
    tuiButton
    type="button"
    (click)="goToNewGame()">
    Начать новую игру
  </button>
  <button
    appearance="flat"
    tuiButton
    type="button"
    (click)="goToSettings()">
    Настройки
  </button>
  <button
    appearance="flat"
    tuiButton
    type="button"
    (click)="goToViewingAchievements()">
    Просмотр достижений
  </button>
  <button
    appearance="flat"
    tuiButton
    type="button"
    (click)="exit()">
    Выход
  </button>
</div>
