<header>
  <div class="wrapper wrapper_dark">
    <tui-input [formControl]="searchInput">
      Type a word
      <input tuiTextfield />
    </tui-input>
    <div class="buttons">
      <button
        tuiIconButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
        icon="tuiIconClock"
        title="Latest"
        (click)="setLatest()"></button>
      <button
        tuiIconButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
        icon="tuiIconStar"
        title="Popular"
        (click)="setPopular()"></button>
      <tui-hosted-dropdown [content]="content">
        <button tuiButton type="button" [iconRight]="arrow">Category</button>
      </tui-hosted-dropdown>
      <ng-template #content>
        <tui-data-list role="menu" class="menu">
          <tui-opt-group>
            <button
              (click)="setCategory(item)"
              tuiButton
              *ngFor="let item of groups">
              {{ item }}
            </button>
          </tui-opt-group>
        </tui-data-list>
      </ng-template>
    </div>
  </div>
</header>
<section class="images">
  <div *ngFor="let item of images" class="item">
    <img [src]="item.largeImageURL" alt="" />
    <div class="info">
      <p>Likes: {{ item.likes }}</p>
      <p>Downloads: {{ item.downloads }}</p>
      <p>Views: {{ item.views }}</p>
    </div>
  </div>
</section>
<footer>
  <tui-pagination
    [activePadding]="1"
    [index]="pageIndex"
    [length]="63"
    [sidePadding]="2"
    (indexChange)="goToPage($event)"></tui-pagination>
</footer>
