<header>
  <div class="wrapper wrapper_dark">
    <tui-input [formControl]="searchInput">
      Type a word
      
    </tui-input>
    <div class="buttons">
      <button
        tuiIconButton
        type="button"
        icon="tuiIconClock"
        title="Latest"
        (click)="setSort()"></button>
      <button
        tuiIconButton
        type="button"
        icon="tuiIconStar"
        title="Popular"
        (click)="setSort()"></button>
      <tui-hosted-dropdown [content]="content">
        <button tuiButton type="button" [iconRight]="arrow">Category</button>
      </tui-hosted-dropdown>
      <ng-template #content>
        <tui-data-list role="menu" class="menu">
            <button
              (click)="setCategory(item)"
              tuiOption
              *ngFor="let item of groups">
              {{ item }}
            </button>
        </tui-data-list>
      </ng-template>
    </div>
  </div>
  <tui-loader [showLoader]="loadingStatus"></tui-loader>
</header>
<section class="images">
  <div *ngFor="let item of images" class="item">
    <img [src]="item.largeImageURL" alt="" />
    <div class="info">
      <ul>
        <li>Likes: {{ item.likes }}</li>
        <li>Downloads: {{ item.downloads }}</li>
        <li>Views: {{ item.views }}</li>
      </ul>
    </div>
  </div>
</section>
<footer>
  <tui-pagination
    *ngIf="pageCount"
    [activePadding]="1"
    [index]="pageIndex"
    [length]="pageCount"
    [sidePadding]="2"
    (indexChange)="goToPage($event)"></tui-pagination>
</footer>
