:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

img {
  width: 100%;
  max-height: 380px;
  border-radius: 20px;
  border: 2px darkblue solid;
  cursor: pointer;
}

.item {
  width: 22%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .info {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
  .info:hover {
    opacity: 0.6;
    background-color: black;
    p {
      font-weight: 600;
      color: white;
    }
  }
}

.wrapper {
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45%;
  tui-input {
    width: 25%;
  }
  &_dark {
    background-color: #30406a;
  }
}

.menu {
  button {
    margin-bottom: 3px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
