<header>
  <tui-input-count [formControl]="countInput" [max]="8" [min]="2">
    Select number of cells
    <input tuiTextfield />
  </tui-input-count>
  <button tuiButton type="button" title="Images" (click)="goToNavigatePage()">
    Main Menu
  </button>
</header>

<section *ngIf="isGameOn">
  <div [style.width]="sizeTiles" [style.height]="sizeTiles" class="field">
    <div
      *ngFor="let item of matrixOfGame"
      (click)="changeBoxColor(item.color)"
      [ngClass]="item.color"></div>
  </div>
</section>
<section class="gameEnd" *ngIf="!isGameOn && matrixOfGame.length > 1">
  <h1>С ПОБЕДОЙ!</h1>
  <p>Твое количество шагов: {{ steps }}</p>
  <p>Затраченное время: {{ resultTime | date: "mm:ss" }}</p>
  <p>Минимальное кол-во потраченных ходов: {{ minSteps }}</p>
  <p>Максимальное кол-во потраченных ходов: {{ maxSteps }}</p>
  <p>
    Минимальное время потраченное на прохождение уровня:
    {{ minTime | date: "mm:ss" }}
  </p>
  <p>
    Максимальное время потраченное на прохождение уровня:
    {{ maxTime | date: "mm:ss" }}
  </p>
  <p>Чтобы начать новую игру снова введи number of cells</p>
</section>

<footer *ngIf="isGameOn">
  <p>
    Количество шагов: {{ steps }} Поле: {{ countInput.value }}X{{
      countInput.value
    }}
  </p>
</footer>
