:host {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

section {
    margin-top: 100px;
    .field {
        display: flex;
        height: 100%;
        flex-wrap: wrap;
        div {
          cursor: pointer;
          width: 100px;
          height: 100px;
        }
    }
}


