<div class="form">
  <h1>Настройки</h1>
  <h3>Выбор сложности</h3>
  <div class="difficultyMenu">
    <tui-radio-block
            contentAlign="right"
            [formControl]="complexity"
            item="easy"
            size="l"
        >
        Легко
        </tui-radio-block>
        <tui-radio-block
            contentAlign="right"
            [formControl]="complexity"
            item="medium"
            size="l"
        >
        Нормально
        </tui-radio-block>
        <tui-radio-block
            contentAlign="right"
            [formControl]="complexity"
            item="hard"
            size="l"
        >
        Сложно
        </tui-radio-block>
  </div>
  <h3>Звук</h3>
  <div class="sounds">
    <button appearance="secondary-destructive" tuiButton>Музыка</button>
    <button appearance="secondary-destructive" tuiButton>Звуки</button>
  </div>
  <div class="endMenu">
    <button appearance="secondary-destructive" tuiButton>Сохранить</button>
  </div>
</div>