:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 10px;
}

.difficultyMenu {
  display: flex;
  gap: 5px;
}

.sounds {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.endMenu {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.rowSoundBlock {
  display: flex;
  gap: 5px;
}

.soundContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 5px;
}
